html {
  font-size: 16px;
}

@media screen (max-width: 960px){
  .html {
    font-size: 14px;
    }
  }

body {
  text-align: center;

}

/* HEADER*/
header {
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 70%;
  margin: 0 auto;
  font-family: 'Encode Sans Expanded', sans-serif;

}

.HeadLett {
  color: #bdbdbd;

}

.bold {
  font-weight: bold;
}

.nolinkline {
  text-decoration: none;
  margin-right: 1rem;
}


.header-settings {
  text-align: left;
  height: 2.5rem;
  margin: auto 1.5rem;
  max-width: 50%;
}

.header-settings img {
  width: 2rem;
  height: auto;
}

.Headertitle {
  font-size: 2rem;
  margin: 0.5rem;
}


header nav {
  width: 50%;
  margin: 1.5rem 0rem;
  text-align: right;

}

.mobileNav {
  margin: auto 2rem;
}



@media (max-width: 960px){
  .header-settings span {
    display: none;
    }

    header nav a {
      display: none;
    }

    .mobileNav {
      width: 90%;
      display: inline-block;
    }

  }

  @media (min-width: 960px){
        .mobileNav {
          display: none;
      }

    }






/*END HEADER*/



.Main {
  width: 75%;
  margin: 0 auto;
  border: 1px solid #d7d7d7;
  font-family: 'Nunito Sans', sans-serif;

}

.Main-bannner {
  background-color: #bdbdbd;

}

.LighterMain-banner {
  background-color: #fafafa;
}


.flex-box {
  display: flex;
  width: 100%;

}

.flex-box1 {
  display: flex;
  width: 100%;

}

.flex-box1 img {
  margin: auto;

}

@media (max-width: 960px){
  .flex-box1 {
    display: block;
    }

  .flex-box1 img {
    margin: 0%;
  }
  }


.IDHTKP {
  display: block;
}

@media (max-width: 960px){
  .IDHTKP {
    display: none;
    }
  }


.display-banner {
  height: auto;
  margin: 0rem auto;
  border: 1px solid #bdbdbd;
  width: 40%;
}

.display-img {
  width: 60%;
  height: 100%;
  margin: 1.5rem 2rem;

}

@media (max-width: 960px){
  .LearnSN {
    margin: 1rem 2rem;
    display: block;
    width: 100%;

    }

    .display-img {
      display: block;
      width: 100%;
    }
  }




.display-img img {
    width: 100%;
}


.side {
  display: block;
  margin: 0rem;
  padding: 1.5rem 2rem;
}

@media (max-width: 960px){
  .side {
    margin: 0rem;
    padding: 0rem;
    width: 100%
    }
  }

.LearnSN {
  vertical-align: middle;
  align-items: center;
  height: auto;
  width: 40%;
  display: block;
  margin: 0.5rem auto;
  padding: 1rem;

}


.LettBold {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem;
  }

.LearnH2 {
    padding: 0rem;
    margin: 0rem;
  }

  @media (max-width: 960px){
    .LearnH2 {
      margin: 1rem;
      }
    }

.Lettering {
    color: #3f3f3f;
  }


.LetteringLG {
  color: #bdbdbd;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  text-align: left;
}

.LetterMed {
  font-size: 1.5rem;
  margin: 1.5rem;
  line-height: 100%;
}


button {
  cursor: pointer;
  width: 100%%;
  background-color: #2a2a2a;
  color: #d3d3d3;
  display: inline-block;
  font-size: 2rem;
  padding: 1rem 5rem;

}

@media (max-width: 960px){
  .button {
    /*margin: auto 2rem auto 1.5rem;*/
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    }
  }


button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*kEEP PRACTICING*/

.services {
  height: auto;
  width: 95%;
  display: flex;
  margin: 0rem;
  padding: 1rem;

}

  @media   (max-width: 960px) {
    .services img     {
      display: block;
    }
    .services h4 {
      display: block;
    }
    .services:last-child {
      background-color: #fafafa;
    }
}


.services:last-child {
  background-color: #bdbdbd;
}

.ThirthF {
  width: 35%;
}

.SixF {
  width: 65%;
}

.SixF h4 {
padding: 0rem;

}


.SixF p {
  padding: 0rem;

}


.block {
  display: block;

}

.borderleft {
  border-left: 1px solid #e4e4e4;
}

.services img {
  width: 100%;
  height: auto;
}


/*Start Learning*/
}

.StartL {
  width: 100%;
  padding: 0;
  margin: 0rem;

}

.LightGray {
  background-color: #e4e4e4;
}

.Learnn {
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;

}

@media (max-width:960px) {
  .mobileLearnn {
    display: block;
  }

  .Learnn {
    display: none;
  }
}

.mobileLearnn {
  display: block;
  width: 100%;
  margin: 1rem auto;
}

.mobileLearnnItem {
  display: block;
  width: 90%;
  height: 30%;
  padding: 1.5rem auto;
  margin: 0.5rem;
  text-align: left;
  i
  border: 1px solid green;

}


.mobileLearnn a {
  text-decoration: none;
}

.mobileLearnnItem h3 {
  padding: 0.7rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;

}

@media (min-width: 960px) {
  .mobileLearnn,
  .mobileLearnnItem   {
    display: none;
  }
}


.courses {
  display: block;
  width: 25%;
  height: auto;
  margin: 1rem;
  padding: 0.2rem;
  background-color: #FFFFFF;

}

.courses img {
  width: 100%;
}

/*thesis*/



.ThesisVideo {
    position: relative;
    width: 60%;
    height: auto;
    overflow: hidden;
}

.ThBlock {
  display: block;
}

@media (max-width: 960px) {
  .ThBlock {
    display: none;
  }

  .ThesisVideo {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}

/*FOOTER*/

footer {
  display: block;
  border: 1px solid #d7d7d7;
  height: 5rem;
  margin: 0rem;
  padding: 0rem;

}

footer span {
  float: left;
  margin: 2rem;
}

footer a {
  float: right;
  margin: 2rem;

}

@media (max-width:960px) {
  footer span {
    margin: 1rem;
    text-align: center;
  }
  footer a {
    display: none;
  }
}
